<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.capella.core.commandline.core.commandline">
      <CommandlineExtension
            class="org.eclipse.python4capella.commandline.Python4CapellaCommandLine"
            id="org.eclipse.python4capella.commandline">
      </CommandlineExtension>
   </extension>

</plugin>
