    @staticmethod
    def get_incoming_requirements(capellaElement: CapellaElement) -> List[Requirement]:
        res = []
        #: :type capellaElement: CapellaElement
        e_object_class = getattr(sys.modules["__main__"], "EObject")
        capella_incoming_relation_e_class = get_e_classifier("http://www.polarsys.org/capella/requirements", "CapellaIncomingRelation")
        for relation in e_inverse_by_name(capellaElement.get_java_object(), "target"):
            if capella_incoming_relation_e_class.isInstance(relation.get_java_object()):
                capella_element = relation.get_java_object().getSource()
                if capella_element is not None:
                    specific_cls = e_object_class.get_class(capella_element)
                    if specific_cls is not None:
                        res.append(specific_cls(capella_element))
        return res

