    @staticmethod
    def get_outgoing_requirements(capellaElement: CapellaElement) -> List[Requirement]:
        res = []
        #: :type capellaElement: CapellaElement
        for extension in capellaElement.get_java_object().getOwnedExtensions():
            if extension.eClass().getName() == "CapellaOutgoingRelation" and extension.eClass().getEPackage().getNsURI().startswith("http://www.polarsys.org/capella/requirements"):
                res.append(Requirement(extension.getTarget()))
        return res

