    @staticmethod
    def get_incoming_requirements(capellaElement):
        res = []
        #: :type capellaElement: CapellaElement
        for relation in e_inverse(capellaElement.get_java_object(), "target"):
            if relation.eClass().getName() == "CapellaIncomingRelation" and relation.eClass().getEPackage().getNsURI().startswith("http://www.polarsys.org/capella/requirements"):
                capella_element = relation.getSource()
                if capella_element is not None:
                    e_object_class = getattr(sys.modules["__main__"], "EObject")
                    specific_cls = e_object_class.get_class(capella_element)
                    if specific_cls is not None:
                        res.append(specific_cls(capella_element))
        return res

