<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Capella 5.0.0 Target Platform SDK" sequenceNumber="1722949080">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.draw2d.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.workspace.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="com.ibm.icu" version="0.0.0"/>
      <unit id="org.eclipse.viatra.query.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jgit.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.mylyn.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.commons.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.context_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.monitor.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.team_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.ide_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.help.ui" version="0.0.0"/>
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.apache.commons.lang" version="0.0.0"/>
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="org.objectweb.asm" version="7.2.0.v20191010-1910"/>
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.core.runtime" version="0.0.0"/>
      <unit id="org.eclipse.ui" version="0.0.0"/>
      <unit id="org.eclipse.ui.views.log" version="0.0.0"/>
      <unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
      <unit id="org.junit" version="4.13.0.v20200204-1500"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.wikitext" version="3.0.36.20200207003433"/>
      <unit id="org.eclipse.mylyn.wikitext.asciidoc" version="3.0.36.20200207003433"/>
      <unit id="org.eclipse.mylyn.wikitext.confluence" version="3.0.36.20200207003433"/>
      <unit id="org.eclipse.mylyn.wikitext.html" version="3.0.36.20200207003433"/>
      <unit id="org.eclipse.mylyn.wikitext.markdown" version="3.0.36.20200207003433"/>
      <unit id="org.eclipse.mylyn.wikitext.mediawiki" version="3.0.36.20200207003433"/>
      <unit id="org.eclipse.mylyn.wikitext.textile" version="3.0.36.20200207003433"/>
      <unit id="org.eclipse.mylyn.wikitext.tracwiki" version="3.0.36.20200207003433"/>
      <unit id="org.eclipse.mylyn.wikitext.twiki" version="3.0.36.20200207003433"/>
      <unit id="org.eclipse.uml2.feature.group" version="0.0.0"/>
      <repository id="eclipse" location="https://download.eclipse.org/releases/2020-06"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
      <repository id="GMF-Notation-1.13.0" location="https://download.eclipse.org/modeling/gmp/gmf-notation/updates/releases/R202004160913"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.thirdparty.feature.group" version="0.0.0"/>
      <repository id="GMF-Runtime-1.13.0" location="https://download.eclipse.org/modeling/gmp/gmf-runtime/updates/releases/R202004160913"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.doc.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.aql.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.interpreter.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.ui.interpreter.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.aql.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.source.feature.group" version="0.0.0"/>
      <repository id="sirius" location="https://archive.eclipse.org/sirius/updates/releases/6.4.0/2020-06"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.polarsys.kitalpha.ad.runtime.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.cadence.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.common.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.emde.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.emde.ui.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.massactions.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.common.share.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.common.commands.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.common.scrutiny.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.detachment.contrib.viewpoints.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.detachment.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.detachment.ui.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.report.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.report.ui.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.resourcereuse.emfscheme.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.resourcereuse.emfscheme.ui.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.resourcereuse.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.resourcereuse.ui.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.richtext.widget.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.richtext.widget.ext.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.transposer.feature.source.feature.group" version="0.0.0"/>
      <repository id="kitalpha-runtime-core-master" location="https://download.eclipse.org/kitalpha/updates/releases/runtime/5.0.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.polarsys.kitalpha.doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.emde.sdk.feature.source.feature.group" version="0.0.0"/>
      <repository id="kitalpha-sdk-master" location="https://download.eclipse.org/kitalpha/updates/releases/sdk/5.0.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.diffmerge.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.sirius.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.gmf.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.egit.feature.source.feature.group" version="0.0.0"/>
      <repository id="diffmerge-core" location="https://download.eclipse.org/diffmerge/releases/0.13.0/emf-diffmerge-site"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.amalgam.explorer.activity.source.feature.group" version="0.0.0"/>
      <repository id="amalgam" location="https://download.eclipse.org/modeling/amalgam/updates/releases/1.12.0/capella"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egf.sdk.feature.source.feature.group" version="0.0.0"/>
      <repository id="egf" location="https://download.eclipse.org/egf/updates/1.6.2/2019-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.richtext.feature.feature.group" version="0.0.0"/>
      <repository id="nebula" location="https://archive.eclipse.org/nebula/releases/1.4.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="eclipse-shared-license" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.polarsys.capella.core.feature.feature.group" version="0.0.0"/>
      <repository id="site_Capella" location="https://download.eclipse.org/capella/core/updates/releases/5.0.0-R20201202-123401/org.polarsys.capella.rcp.site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ease.lang.scriptarchive.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.lang.python.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.lang.python.py4j.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.python.jython.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.lang.jvm.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.modules.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.lang.unittest.feature.feature.group" version="0.0.0"/>
      <repository id="EASE" location="https://download.eclipse.org/ease/release/0.8.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ease.engine.jython.feature.feature.group" version="0.0.0"/>
      <repository id="ease-engines" location="https://eclipse-ease-addons.github.io/org.eclipse.ease.engines.p2/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.py4j.feature.feature.group" version="0.0.0"/>
      <repository id="py4j" location="http://eclipse.py4j.org/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.python.pydev.feature.feature.group" version="0.0.0"/>
      <repository id="PyDev" location="https://www.pydev.org/update_sites/8.2.0"/>
    </location>
  </locations>
</target>
