<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="CapellaModule.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="CapellaModule.commands.category"
            id="CapellaModule.commands.sampleCommand"
            name="Generate Python API from Ecore">
      </command>
      <command
            categoryId="CapellaModule.commands.category"
            id="CapellaModule.commands.sampleCommand2"
            name="Generate Python Tests from Capella">
      </command>
      <command
            categoryId="CapellaModule.commands.category"
            id="CapellaModule.commands.sampleCommand3"
            name="Generate Python API from Capella">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.python4capella.gen.handlers.ProduceCapellaPythonAPIFromEcoreHandler"
            commandId="CapellaModule.commands.sampleCommand">
      </handler>
      <handler
            class="org.eclipse.python4capella.gen.handlers.ProduceCapellaPythonTestsFromCapellaHandler"
            commandId="CapellaModule.commands.sampleCommand2">
      </handler>
      <handler
            class="org.eclipse.python4capella.gen.handlers.ProduceCapellaPythonAPIFromCapellaHandler"
            commandId="CapellaModule.commands.sampleCommand3">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="CapellaModule.toolbars.sampleToolbar">
            <command
                  commandId="CapellaModule.commands.sampleCommand"
                  icon="icons/sample.png"
                  id="CapellaModule.toolbars.sampleCommand"
                  label="Generate Python API from Ecore"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="CapellaModule.commands.sampleCommand2"
               icon="icons/sample.png"
               id="CapellaModule.toolbars.sampleCommand2"
               label="Generate Python Tests from Capella"
               tooltip="Generate Python Tests from Capella">
         </command>
         <command
               commandId="CapellaModule.commands.sampleCommand3"
               icon="icons/sample.png"
               id="CapellaModule.toolbars.sampleCommand3"
               label="Generate Python API from Capella"
               tooltip="Generate Python API from Capella">
         </command>
      </menuContribution>
   </extension>

</plugin>
